
/* 蛍光ペンの太さのアンダーラインを引こう */
.class {
	background: linear-gradient(transparent 55%, yellow 55%, yellow 100%);
}

/* 1文字目だけ大きくして、雑誌のようなタイポグラフィを実現 */
.class::first-letter {
	font-size: 4.1em;
	font-weight: bold;
	
	float: left;
	line-height: 0.95em;
	padding: 0.05em 0.05em 0 0;
}

/* 1行で収まらないテキストの後ろを省略するには */
.class {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

<a href="tel:0123456789" >お電話
